body {
    background-color:rosybrown;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px 6px 30px 6px;
}

h1 {
    color: rgb(17, 46, 20) 
}

h2 {
    color: rgb(17, 63, 66);
    font-weight: 200;

}


a {
    color: black;
    text-decoration-color:rgb(160, 64, 96)
    

}

ul {
    line-height: 130%;
}

#heartImg {
    height: 100%;
    width: 50%;
    margin: 0px;
    padding: 0px;

}

#headerPic {
    height: 30%;
    width: 100%;
    border-radius: 30px 20px;
    box-shadow: -5px 14px 90px rgb(204, 170, 108);
}











